doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/x-icon", sizes="32x32")
    title Frontend Mentor | QR code component

  body
    main.card
      img.card__imgQr(src="./images/image-qr-code.png", alt="código")
      h1.car__title Improve your front-end skills by building projects
      p.card__instruction Scan the QR code to visit Frontend Mentor and take your coding skills to the next level

    footer.attribution by
      a(href="https://www.frontendmentor.io?ref=challenge", target="_blank", rel="noopener noreferrer")  Frontend Mentor
      |   Coded by
      a(href="https://github.com/CAMILOITT/qr-code-component", target="_blank", rel="noopener noreferrer")  Camilo Torres.

